*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  /* background-image: url("img/Backgroundblack.jpeg"); */
  /* padding-top: 125px; */
  cursor: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
#background {
  position: fixed;
  top: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
  z-index: -3;
}
article {
  /* filter: drop-shadow(0 0 5px rgba(81, 146, 146, 0.801)); */
  /* box-shadow: 0 0 10px 5px rgba(81, 146, 146, 0.801), inset 0 0 10px aqua; */
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0px rgba(81, 146, 146, 0.801), inset 0 0 5px aqua;
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(81, 146, 146, 0.801), inset 0 0 10px aqua;
  }
}
main {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: scroll;
}
a {
  cursor: none;
}
/* controller--------------------------------- */
.ctrlr {
  position: absolute;
  height: 100vh;
  width: 20%;
  top: 0;
}
#leftCtrlr {
  left: 0;
  border-radius: 150px 10px 10px 150px;
  background-color: #FF5F53;
  box-shadow: inset 0 -10px 10px black, inset 20px 15px 5px 0px #FF5F53, inset 5px 20px 10px 0px white;
}
#rightCtrlr {
  right: 0;
  border-radius: 10px 150px 150px 10px;
  background-color: #00C4E3;
  box-shadow: inset 0 -10px 10px black, inset -20px 15px 5px 0px #00C4E3, inset -5px 20px 10px 0px white;
}
.button {
  position: absolute;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  background-color: #38393D;
}
/* D Pad ---------------------------------- */
.dpad {
  position: absolute;
  /* border: 1px solid black; */
  height: 210px;
  width: 210px;
  left: 50%;
  transform: translateX(-50%);
}
/* .dpad img {
  width: 90%;
  height: 90%;
  margin: 5%;
} */
#leftCtrlr .dpad {
  top: 350px;
}
#rightCtrlr .dpad {
  top: 150px;
}
.dpad .button {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  box-shadow: inset 0 3px 5px antiquewhite, 0 3px 5px black;
  transition: box-shadow 0.2s;
  /* animation: press 0.2s; */
}
@keyframes press {
  0% {
    box-shadow: inset 0 3px 5px antiquewhite;
  }
  100% {
    box-shadow: inset 0 3px 5px black;
  }
}
.isPressed {
  animation: press 0.2s;
  box-shadow: inset 0 3px 5px black;
  transition: all 0.2s;
}
/* .dpad .button:active {
  animation: none;
} */
.dpad .button::after:hover {
  /* animation: none;
  animation: press 0.2s; */
  background-color: antiquewhite;
  /* width: 200px;
  border-radius: 60px;
  transition: all 0.2s linear; */
}
#leftCtrlr .dpad .button::after {
  content: '';
  position: absolute;
  height: 40%;
  width: 40%;
  background-color: black;
  top: 30%;
  left: 30%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#leftCtrlr .right::after {
  transform: rotate(90deg);
}
#leftCtrlr .down::after {
  transform: rotate(180deg);
}
#leftCtrlr .left::after {
  transform: rotate(270deg);
}
.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#rightCtrlr .up {
  background-image: url("img/facebook.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .right {
  background-image: url("img/instagram.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .down {
  background-image: url("img/discord.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .left {
  background-image: url("img/email.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}
/* Joystick ------------------------------- */
.joystick {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  left: 50%;
  transform: translateX(-50%);
}
#leftCtrlr .joystick {
  top: 150px;
}
#rightCtrlr .joystick {
  top: 425px;
}
/* top buttons ---------------------------- */
.top {
  top: 60px;
  right: 20px;
  height: 15px;
  width: 40px;
  border-radius: 2px;
}
#leftCtrlr .top {
}
#rightCtrlr .top {
  left: 20px;
}
#rightCtrlr .top::before {
  content: '';
  position: absolute;
  height: 15px;
  width: 40px;
  border-radius: 2px;
  transform: rotate(90deg);
  border: 1px solid black;
  background-color: #38393D;
}
#rightCtrlr .top::after {
  content: '';
  position: absolute;
  height: 13px;
  width: 38px;
  border-radius: 2px;
  background-color: #38393D;
}
/* bottom buttons ------------------------- */
.bottom {
  bottom: 80px;
}
#rightCtrlr .bottom {
  left: 50px;
  border-radius: 50%;
  background-image: url("img/house.png");
  background-position: center;
  background-size: contain;
}
#leftCtrlr .bottom {
  right: 50px;
  border-radius: 4px;
}
#leftCtrlr .bottom::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  transform: translateX(50%) translateY(-50%) rotate(-45deg);
  background-color: #4e4e4e;
  border-right: 2px solid black;
  border-left: 2px solid #797878;
}
/* bumpers ---------------------------- */
.bumper {
  height: 130px;
  width: 250px;
  top: -6px;
  z-index: -1;
}
#leftCtrlr .bumper {
  border-radius: 200px 8px 0px 8px;
  left: 2%;
}
#rightCtrlr .bumper {
  border-radius: 8px 200px 8px 0px;
  right: 2%;
}
/* center boxes ----------------------- */
#textbox {
  height: 15vh;
}
#buttonbox {
  position: absolute;
  font-size: 2em;
  padding: 20px;
  display: none;
}
#infobox {
  font-size: 2em;
  height: 75vh;
}
article {
  background-color: rgba(81, 146, 146, 0.801);
  padding: 30px;
  margin: 2%;
  font-size: 20px;
  color: black;
  border-radius: 8px;
  border: 1px solid aqua;
  transition: all 0.2s ease-in-out;
}
p {
  font-size: 24px;
  font-family: Sans-Serif;
}
article:hover {
  text-shadow: none;
  background-color: rgba(81, 146, 146, 1);
  transition: all 0.2s ease-in-out;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  text-align: center;
}

@media (max-width: 767px) {
  main {
    position: absolute;
    top: 25%;
    width: 90%;
    height: 50vh;
  }
  .ctrlr {
    height: 100vw;
    width: 20vh;
    top: unset;
    transform: rotate(-90deg);
  }
  #leftCtrlr {
    bottom: -17vh;
    left: unset;
    border-radius: 75px 10px 10px 75px;
  }
  #rightCtrlr {
    top: -17vh;
    right: unset;
    border-radius: 10px 75px 75px 10px;
  }
  .dpad {
    height: 110px;
    width: 110px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #leftCtrlr .dpad {
    top: 45%;
  }
  #rightCtrlr .dpad {
    top: 15%;
  }
  .dpad .button {
    height: 40px;
    width: 40px;
  }
  .joystick {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #leftCtrlr .joystick {
    top: 20%;
  }
  #rightCtrlr .joystick {
    top: 50%;
  }
  .bumper {
    height: 70px;
    width: 100px;
    top: -6px;
  }
  #leftCtrlr .bumper {
    left: 2%;
  }
  #rightCtrlr .bumper {
    right: 2%;
  }
  .top {
    top: 10%;
    height: 10px;
    width: 20px;
  }
  .bottom {
    bottom: 10%;
    height: 30px;
    width: 30px;
  }
}
