*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}
body {
  background: #19283c;
  /* cursor: none; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: montserrat; 
  overflow: hidden;
}
#background {
  position: fixed;
  top: 0%;
  left: 50%;
  margin: 0;
  height: 100vh;
  width: 80vw;
  z-index: -3;
  transform: translateX(-50%);
}
article {
  animation: glow 1s ease-in-out infinite alternate;
}
@keyframes glow {
  0% {
    box-shadow: 0 0 10px 0px rgba(81, 146, 146, 0.801), inset 0 0 5px aqua;
  }
  100% {
    box-shadow: 0 0 10px 5px rgba(81, 146, 146, 0.801), inset 0 0 10px aqua;
  }
}
main {
  width: 60%;
  height: 100%;
  position: relative;
  overflow: scroll;
}
a {
  cursor: pointer;
}
/* controller--------------------------------- */
.ctrlr {
  position: absolute;
  height: 100vh;
  width: 20%;
  top: 0;
}
#leftCtrlr {
  left: 0;
  border-radius: 150px 10px 10px 150px;
  background-color: #FF5F53;
  box-shadow: inset 0 -10px 10px black, inset 20px 15px 5px 0px #FF5F53, inset 5px 20px 10px 0px white;
}
#rightCtrlr {
  right: 0;
  border-radius: 10px 150px 150px 10px;
  background-color: #00C4E3;
  box-shadow: inset 0 -10px 10px black, inset -20px 15px 5px 0px #00C4E3, inset -5px 20px 10px 0px white;
}
.button {
  position: absolute;
  border: 1px solid black;
  height: 50px;
  width: 50px;
  background-color: #38393D;
}
/* D Pad ---------------------------------- */
.dpad {
  position: absolute;
  /* border: 1px solid black; */
  height: 210px;
  width: 210px;
  left: 50%;
  transform: translateX(-50%);
}
/* .dpad img {
  width: 90%;
  height: 90%;
  margin: 5%;
} */
#leftCtrlr .dpad {
  top: 41%;
}
#rightCtrlr .dpad {
  top: 13%;
}
.dpad .button {
  position: absolute;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  border: 2px solid black;
  box-shadow: inset 0 -1px 4px black, inset 0 2px 3px white, 0 3px 5px black;
  transition: box-shadow 0.2s;
}
@keyframes press {
  0% {
    box-shadow: inset 0 -1px 4px black, inset 0 2px 3px white;
  }
  100% {
    box-shadow: inset 0 3px 5px black;
  }
}
.isPressed {
  animation: press 0.2s forwards;
}
.dpad .button:hover {
  background-color: aqua;
}
#leftCtrlr .dpad .button::after {
  content: '';
  position: absolute;
  height: 40%;
  width: 40%;
  background-color: black;
  top: 30%;
  left: 30%;
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}
#leftCtrlr .right::after {
  transform: rotate(90deg);
}
#leftCtrlr .down::after {
  transform: rotate(180deg);
}
#leftCtrlr .left::after {
  transform: rotate(270deg);
}
.up {
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.right {
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}
.down {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.left {
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}
#rightCtrlr .up {
  background-image: url("img/facebook.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .right {
  background-image: url("img/instagram.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .down {
  background-image: url("img/discord.png");
  background-position: center;
  background-size: contain;
}
#rightCtrlr .left {
  background-image: url("img/email.png");
  background-position: center;
  background-size: 75%;
  background-repeat: no-repeat;
}
/* Joystick ------------------------------- */
.joystick {
  position: absolute;
  border: 1px solid black;
  height: 120px;
  width: 120px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 0.14em 100%, 100% 0.14em, 100%;
  background-image: linear-gradient(to bottom, #222, #111),
    linear-gradient(to bottom, #222, #333),
    linear-gradient(to bottom, #777, #111);
  box-shadow: inset 0 -0.06em 0.125em black,
    inset 0 0.125em 0.125em -0.0325em rgba(black, 0.2),
    inset 0 0.18em 0.125em -0.0625em rgba(white, 0.3),
    0 0 0.09em 0.0625em rgba(black, 0.75),
    0 0.375em 1em 0.0625em rgba(black, 0.4);
}
.joystick::before,
.joystick::after{
  content: '';
  position: absolute;
  width: 75%;
  height: 75%;
  border-radius: 100%;
  left: 12%;
  top: 12%;
  background-repeat: no-repeat;
  background-position: center;
  background-image: linear-gradient(to bottom, #555, #222);
}
.joystick::before{
  width: 85%;
  height: 85%;
  left: 7%;
  top: 7%;
  background-size: 0.14em 100%, 100% 0.14em, 100%;
  background-image: linear-gradient(to bottom, #444, #111),
    linear-gradient(to bottom, #222, #333),
    linear-gradient(to bottom, #222, #666);
}

#leftCtrlr .joystick {
  top: 18%;
}
#rightCtrlr .joystick {
  top: 50%;
}
/* top buttons ---------------------------- */
.top {
  top: 60px;
  height: 15px;
  width: 40px;
  border-radius: 2px;
  box-shadow: inset 0 -1px 2px black, inset 0 1px 2px white, 0 1px 3px black;
}
#leftCtrlr .top {
  right: 20px;
}
#rightCtrlr .top {
  left: 20px;
}
#rightCtrlr .top::before,
#rightCtrlr .top::after {
  content: '';
  position: absolute;
  background-color: #38393D;
}
#rightCtrlr .top::before {
  height: 13px;
  width: 16px;
  z-index: 1;
  left: 12px;
}
#rightCtrlr .top::after {
  height: 15px;
  width: 40px;
  transform: rotate(90deg);
  border: 1px solid black;
  border-radius: 2px;
  box-shadow: inset -1px 0 2px black, inset 1px 0 2px white, 1px 0 2px black;
  /* z-index: 1; */
}
/* bottom buttons ------------------------- */
.bottom {
  top: 75%;
  box-shadow: inset 0 -1px 2px black, inset 0 1px 2px white, 0 1px 3px black;
}
#rightCtrlr .bottom {
  left: 50px;
  border-radius: 50%;
  background-image: url("img/house.png");
  background-position: center;
  background-size: contain;
}
#leftCtrlr .bottom {
  right: 50px;
  border-radius: 4px;
}
#leftCtrlr .bottom::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 50%;
  height: 80%;
  width: 80%;
  border-radius: 50%;
  transform: translateX(50%) translateY(-50%);
  background-color: #4e4e4e;
  border-top: 2px solid black;
  border-bottom: 2px solid #797878;
}
/* bumpers ---------------------------- */
.bumper {
  position: absolute;
  height: 150px;
  width: 100%;
  background-color: #38393D;
  top: -8px;
  z-index: -1;
  border: 1px solid black;
}
#leftCtrlr .bumper {
  border-radius: 10em 1em 0 1em;
  left: -1%;
}
#rightCtrlr .bumper {
  border-radius: 1em 10em 1em 0;
  right: -1%;
}
/* center boxes ----------------------- */
#textbox {
  display: flex;
  height: 15vh;
  padding: 0;
  align-items: center;
  justify-content: center;
}
#buttonbox {
  position: absolute;
  font-size: 2em;
  padding: 20px;
  display: none;
}
#infobox {
  font-size: 2em;
  height: 75vh;
}
article {
  background-color: rgba(81, 146, 146, 0.801);
  padding: 30px;
  margin: 2%;
  font-size: 20px;
  color: black;
  border-radius: 8px;
  border: 1px solid aqua;
  transition: all 0.2s ease-in-out;
}
p {
  font-size: 24px;
  font-family: montserrat;
  font-weight: bolder;
}
article:hover {
  text-shadow: none;
  background-color: rgba(81, 146, 146, 1);
  transition: all 0.2s ease-in-out;
}
h1 {
  font-size: 3em;
  text-align: center;
}
h2 {
  text-align: center;
}
footer {
  position: absolute;
  bottom: 6vh;
  right: 25vw;
}
footer a {
  text-decoration: none;
  color: aquamarine;
}

footer a:hover {
  text-shadow: 0 0 3px aqua;
}
@media (max-width: 767px) {
  main {
    position: absolute;
    top: 25%;
    width: 90%;
    height: 50vh;
  }
  .ctrlr {
    height: 100vw;
    width: 20vh;
    top: unset;
    transform: rotate(-90deg);
  }
  #leftCtrlr {
    bottom: -17vh;
    left: unset;
    border-radius: 75px 10px 10px 75px;
  }
  #rightCtrlr {
    top: -17vh;
    right: unset;
    border-radius: 10px 75px 75px 10px;
  }
  .dpad {
    height: 110px;
    width: 110px;
    left: 50%;
    transform: translateX(-50%) rotate(90deg);
  }
  #leftCtrlr .dpad {
    top: 40%;
  }
  #rightCtrlr .dpad {
    top: 15%;
  }
  .dpad .button {
    height: 40px;
    width: 40px;
  }
  .joystick {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
  #leftCtrlr .joystick {
    top: 20%;
  }
  #rightCtrlr .joystick {
    top: 50%;
  }
  .bumper {
    height: 70px;
    width: 100px;
    top: -6px;
  }
  #leftCtrlr .bumper {
    left: 2%;
  }
  #rightCtrlr .bumper {
    right: 2%;
  }
  .top {
    top: 10%;
    height: 10px;
    width: 20px;
  }
  .bottom {
    bottom: 10%;
    height: 30px;
    width: 30px;
  }
}
