body {
  background-image: url("img/Backgroundblack.jpeg");
}
header {
  background-color: rgba(81, 146, 146, 0.801);
  color: black;
  text-align: center;
  font-family: Sans-Serif;
  font-size: 30px;
  padding: 10px;
  margin: 30px;
  text-shadow: 1px 1px 1px ivory;
  border-radius: 8px;
  border: 1px solid aqua;
  overflow: visible;
}
nav {
  background-color: rgba(81, 146, 146, 0.801);
  color: black;
  margin: 30px;
  border-radius: 8px;
  border: 1px solid aqua;
  position: relative;
  height: 100px;
}
#smash-news {
  top: 10%;
  left: 25px;
  width: 200px;
}
#contact {
  top: 10%;
  left: 300px;
}
nav li {
  text-shadow: 1px 1px 1px ivory;
  padding: 25px 0px 25px 10px;
  font-size: 28px;
  width: 190px;
}
nav a {
  color: black;
  text-decoration: none;
}
.nav {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav:hover {
  background: rgba(255, 255, 240, 0.795);
  border-radius: 3px;
}
.sub-menu {
  display: none;
}
.nav:hover .sub-menu{
  display: block;
  top: 0;
  left: 0;
}
nav li:hover {
  box-shadow: 0 0 5px black;
}

article {
  background-color: rgba(81, 146, 146, 0.801);
  text-shadow: 1px 1px 1px ivory;
  padding: 10px;
  margin: 30px;
  font-size: 20px;
  color: black;
  border-radius: 8px;
  border: 1px solid aqua;
}
p {
  font-size: 24px;
  font-family: Sans-Serif;
}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  font-size: 28px;
  font-family: Sans-Serif;
  text-decoration: none;
  color: black;
  border: 1px solid aqua;
}
#TournamentNews {
  background-image: url("img/Background1.jpg");
  height: 1000px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
h2 {
  background-color: rgba(81, 146, 146, 0.801);
  color: black;
  max-width: 100%;
  text-align: center;
  text-shadow: 1px 1px 1px ivory;
  font-size: 32px;
  font-family: Sans-Serif;
  border-radius: 8px;
  border: 1px solid aqua;
}
h3 {
  background-color: rgba(81, 146, 146, 0.801);
  color: black;
  text-align: center;
  text-shadow: 1px 1px 1px ivory;
  font-size: 32px;
  font-family: Sans-Serif;
  border-radius: 8px;
  border: 1px solid aqua;
}
